<%
let isOwn = config.createdBy.id === locals.userId;
%>

<div class="config-card card mb-4 shadow-sm" data-config-id="<%= config.id %>">
    <div class="card-body">
        <h5 class="card-title w-100 text-center">
            <%= config.name %>
        </h5>
        <div class="card-text">
            <table class="table table-sm table-borderless">
                <tbody>
                    <% config.parts.forEach ( (part) => { %>
                    <tr>
                        <td>
                            <span class="badge badge-success w-100">
                                <%= part.type %>
                            </span>
                        </td>
                        <td>
                            <%= part.teaser %>
                        </td>
                    </tr>
                    <% } ); %>
                </tbody>
            </table>
        </div>
        <div
            class="card-actions d-flex justify-content-between align-items-center"
        >
        <% if (!isOwn) { %>
            <small class="text-muted"
                >by
                <a href="mailto:<%= config.createdBy.emailAddress %>"
                    ><%= config.createdBy.name %></a
                ></small
            >
            <a
                class="btn btn-primary"
                href="/open-configuration/<%= config.id %>"
                >Open</a
            >
        <% } else { %>

            <button class="delete-config btn btn-danger">Delete</button>

            <div>
                <a
                    class="btn btn-secondary"
                    href="/edit-configuration/<%= config.id %>"
                    >Edit</a
                >
                <a
                    class="btn btn-primary"
                    href="/open-configuration/<%= config.id %>"
                    >Open</a
                >
            </div>

        <% } %>

        </div>
    </div>
</div>
